.annoying_popup {
  background-color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  max-height: 80%;
  position: fixed;
  top: 10%;
  z-index: 1001;

  @media screen and (max-width: 900px) {
    left: 10%;
    width: 80%;
  }

  @media screen and (min-width: 900px) {
    left: calc((100% - 800px) / 2);
    width: 800px;
  }
  
  &-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &, &-overlay {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s linear;
    
    &[visible] {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 1s linear;
    }
  }
  
  &-content {
    overflow: auto;
    padding: 1rem;
  }
  
  &-actions {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 900px) {
      align-items: center;
      flex-direction: row;
    }

    li {
      flex-grow: 1;
    }
  }
  
  &-button {
    background: none;
    background-color: #cccccc;
    border: none;
    border-radius: 0;
    color: #000000;
    cursor: pointer;
    display: block;
    flex-basis: 50%;
    font-size: 2rem;
    line-height: 125%;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s linear, color 0.25s linear;
    width: 100%;
    
    &:focus {
      outline: 2px solid #0000ff;
    }
    
    &:hover,
    &:focus {
      background-color: #aaaaaa;
      color: #000000;
    }
    
    &-secondary {
      background-color: #ffffff;
      font-size: 1rem;
      
      &:hover,
      &:focus {
        background-color: #eeeeee;
      }
    }
  }
}